*.un~
.netrwhist

vim/vim.symlink/bundle
vim/vim.symlink/sessions/

# Ignore tmux plugins 
tmux/plugins/*

# zsh completion cache folder
.cache

# Ignore vifm local files
vifm.symlink/Trash
vifm.symlink/vifminfo
config/fish/fish_history
