[submodule "vim/vim.symlink/bundle/plugin-zencoding"]
	path = vim/vim.symlink/bundle/plugin-zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/vim.symlink/bundle/plugin-snipmate"]
	path = vim/vim.symlink/bundle/plugin-snipmate
	url = git://github.com/msanders/snipmate.vim.git
