*.un~
.netrwhist

vim/vim.symlink/sessions/

# Ignore tmux plugins 
tmux/plugins/*

# zsh completion cache folder
.cache

# fish 
fish.config/fish_history

# Ignore vifm local files
vifm.symlink/Trash
vifm.symlink/vifminfo
config/fish/fish_history
fishd.*
vim/vim.symlink/plugins/
info
vifm.symlink/scripts/README
vifm.symlink/vifminfo.json
.secrets.zsh
