[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/vim.symlink/plugged"]
	path = vim/vim.symlink/plugged
	url = https://github.com/junegunn/vim-plug.git
	ignore = untracked
[submodule "vim/vim.symlink/plugins/vim-plug"]
	path = vim/vim.symlink/plugins/vim-plug
	url = https://github.com/junegunn/vim-plug.git
