[submodule "vim/vim.symlink/bundle/plugin-zencoding"]
	path = vim/vim.symlink/bundle/plugin-zencoding
	url = git://github.com/mattn/zencoding-vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/plugin-snipmate"]
	path = vim/vim.symlink/bundle/plugin-snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/plugin-fugitive"]
	path = vim/vim.symlink/bundle/plugin-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/plugin-nerdcommenter"]
	path = vim/vim.symlink/bundle/plugin-nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/color-molokai"]
	path = vim/vim.symlink/bundle/color-molokai
	url = git://github.com/mrtazz/molokai.vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/color-moria"]
	path = vim/vim.symlink/bundle/color-moria
	url = git://github.com/vim-scripts/moria.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/color-mustang"]
	path = vim/vim.symlink/bundle/color-mustang
	url = git://github.com/vim-scripts/Mustang2.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/color-railscasts"]
	path = vim/vim.symlink/bundle/color-railscasts
	url = git://github.com/jpo/vim-railscasts-theme.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/plugin-commandt"]
	path = vim/vim.symlink/bundle/plugin-commandt
	url = git://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/plugin-markdown"]
	path = vim/vim.symlink/bundle/plugin-markdown
	url = git://github.com/plasticboy/vim-markdown.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/syntax-html5"]
	path = vim/vim.symlink/bundle/syntax-html5
	url = git://github.com/othree/html5.vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/syntax-css3"]
	path = vim/vim.symlink/bundle/syntax-css3
	url = git://github.com/hail2u/vim-css3-syntax.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/smartinput.git"]
	path = vim/vim.symlink/bundle/smartinput.git
	url = git://github.com/kana/vim-smartinput.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
	ignore = untracked
